// COLORS

//color cube

$primary-white: #FFFFFF;
$primary-tuna: #353841;
$primary-sienna: #ed6864;
$primary-gray: #bababc;
$primary-jumbo: #78787b;
$primary-gold: #fcd66c;
$primary-tabasco: #92340f;

//median cut

$median-rose: #ebcac5;
$median-tuna: #3e3f47;
$median-makara: #8D7C6D;
$median-edward: #A1ABA9;
$median-gray: #8C9AA5;

//materia-design

$material-sienna: #EA6862;
$material-gray: #A2ABAE;
$material-sambuca: #3D2512;
$material-thunder: #171216;
$material-putty: #E9C899;

