@import '/src/style/partial/variables';
@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: $primary-white;
    font-family: 'Raleway', sans-serif;
}

.container-xl {
    width: 80%;
    margin: 0 auto;
}

.container-lg {
    width: 70%;
    margin: 0 auto;
}

.container-sm {
    width: 60%;
    margin: 0 auto;
}

.container-xs {
    width: 50%;
    margin: 0 auto;
}